<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome Page</title>
  </head>
  <body>
    {{> header}}
    <p>{{message}}</p>    <!-- dynamically apply data -->
    {{> footer}}            <!-- use footer.hbs partial from views/partial/ -->
  </body>
</html>
